services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: movie_wizard_backend
    environment:
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,movie_wizard_backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: movie_wizard_frontend
    environment:
      - VITE_PROXY_TARGET=http://backend:8000
    depends_on:
      - backend
    ports:
      - "5173:5173"
